{% extends 'base.html.twig' %}

{% block title %}Personal{% endblock %}


{% block body %}

<h2>User Information</h2>
<ul>
    <li><strong>First Name:</strong> {{ user.firstName }}</li>
    <li><strong>Last Name:</strong> {{ user.lastName }}</li>
    <li><strong>Email:</strong> {{ user.email }}</li>
    <li><strong>Role:</strong>
        {{ user.roles|first|replace({'ROLE_': ''})|lower }}
    </li>
    <li><strong>Account Created:</strong> {{ user.created ? user.created|date('Y-m-d') : 'N/A' }}</li>
</ul>

<button><a href="{{ path('app_profile_edit') }}" class="btn btn-secondary">Edit Profile</a></button>

<button><a href="{{ path('homepage') }}">back</a></button>

{% endblock %}