{%extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile{% endblock %}

{% block body %}

{% include 'components/searchbar.html.twig' %}

{% include 'components/navbar.html.twig' %}

<div class="main_profile">

    {% include 'components/userinfo.html.twig' %}
    
    <div class="agenda">
        <h2>Event</h2>
        <ul>
            {% for event in user.getEvents() %}
                {% if event.registered == true %}
                    <li>
                        <p>{{ event.getName() }}</p>
                        <h3>{{ event.GetTitle() }}</h3>
                        <div class="participant">
                            {{ event.getParticipants() }}/{{ event.getMaxParticipants() }}
                        </div>
                        <div class="event_info">
                            <p>{{ event.getDate()|date('d-m-Y') }}</p>
                            <p>{{ event.getStartTime()|date('H:i') }}</p>
                            <p>{{ event.getEndTime()|date('H:i') }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="tbd">
        <h2>Project</h2>
    </div>
    <div class="tbd">
        <h2>Courses</h2>
    </div>
    {#<div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>#}
</div>
{% endblock %}