{%extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile{% endblock %}

{% block body %}


<div class="header">
    {% include 'components/searchbar.html.twig' %}
    <div class="user-dropdown">
        <button><a href="/profile/edit">edit profile</a></button>
        {% if user.role is defined and user.role and user.role.value == 'admin' %}
            <button><a href="/admin"> admin </a></button>
        {% else %}
            <button><a href="/userpage/{{user.id}}"> admin </a></button>
        {% endif %}
    </div>

    <button><a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a></button>
</div>


{% include 'components/navbar.html.twig' %}

<div class="main_profile">
    <div class="user_info">
    <img src="{{ user.image is not empty ? user.image : asset('images/default_profile.jpeg') }}"
     alt="Profile Image"
     style="max-width:150px;">
        <div class="pick_and_name">
            <h2 class="user_name">
            {{ user.getFirstName() }}
            {{ user.getLastName() }}
            </h2>
        </div>
        <div class="info">
            <ul>
                <li>Email: {{ user.getEmail() }}</li>
            </ul>
        </div>
    </div>
    <div class="agenda">
        <h2>Event</h2>
        <ul>
            {% for event in user.getEvents() %}
                {% if event.registered == true %}
                    <li>
                        <p>{{ event.getName() }}</p>
                        <h3>{{ event.GetTitle() }}</h3>
                        <div class="participant">
                            {{ event.getParticipants() }}/{{ event.getMaxParticipants() }}
                        </div>
                        <div class="event_info">
                            <p>{{ event.getDate()|date('d-m-Y') }}</p>
                            <p>{{ event.getStartTime()|date('H:i') }}</p>
                            <p>{{ event.getEndTime()|date('H:i') }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="tbd">
        <h2>Project</h2>
    </div>
    <div class="tbd">
        <h2>Courses</h2>
    </div>
    {#<div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>#}
</div>
{% endblock %}