{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile
{% endblock %}

{% block body %}

{% include 'components/searchbar.html.twig' %}

{% include 'components/navbar.html.twig' %}

<div class="main_profile">

    {% include 'components/userinfo.html.twig' %}
    
    {% if app.user and app.user.id != user.id %}
        <div class="chat-action" style="margin: 1rem 0; text-align: center;">
            <a href="{{ path('chat_index') }}?user={{ user.id }}" class="btn btn-primary" style="margin-top: 10px; display: inline-block;">
                💬 Invia Messaggio a {{ user.firstName }}
            </a>
        </div>
    {% endif %}
    
    <div class="agenda">
        <h2>Event</h2>
        <ul>
            {% for event in user.getEvents() %}
                {% if event.registered == true %}
                    <li>
                        <p>{{ event.getName() }}</p>
                        <h3>{{ event.GetTitle() }}</h3>
                        <div class="participant">
                            {{ event.getParticipants() }}/{{ event.getMaxParticipants() }}
                        </div>
                        <div class="event_info">
                            <p>{{ event.getDate()|date('d-m-Y') }}</p>
                            <p>{{ event.getStartTime()|date('H:i') }}</p>
                            <p>{{ event.getEndTime()|date('H:i') }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="tbd">
        <h2>Projects</h2>
        <ul>
            {% for project in user.getProjects() %}
                <li>
                    <a href="{{ path('project_show', { id: project.id }) }}">{{ project.name }}</a>
                    {% if app.user and app.user.id == user.id %}
                        <form method="post" action="{{ path('project_unregister', { id: project.id }) }}">
                        <input type="hidden" name="redirect_to" value="userpage">
                        <button>Unregister</button>
                    {% endif %}
                </form>
                </li>
            {% else %}
                <li>No projects registered</li>
            {% endfor %}
        </ul>
        {% if app.user and app.user.id == user.id %}
            <a href="{{ path('project_list') }}" class="btn btn-primary" style="margin-top: 10px; display: inline-block;">
                View All Projects & Register
            </a>
        {% endif %}
    </div>

    <div class="tbd">
        <h2>Courses</h2>
    </div>

    {# Additional TBD sections #}
</div>

{% endblock %}
