{%extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profile{% endblock %}

{% block body %}

<div class="header">
    <div class="searchbar">
        <form method="get" action="{{ path('userpage', {'id': user.id}) }}">
        <input type="text" name="search" placeholder="Search users..." value="{{ app.request.get('search') }}">
        <button type="submit">Search</button>
        </form>
    </div>
</div>

{% if searchResults is defined %}
    <ul>
        {% for u in searchResults %}
            <li>
                <a href="/userpage/{{u.id}}">{{ u.firstName }} {{ u.lastName }} ({{ u.email }})</a>
            </li>
        {#{% else %}
            <li>No users found.</li>#}
        {% endfor %}
    </ul>
{% endif %}

<div class="main_profile">
    <div class="user_info">
        <div class="pick_and_name">
            <h2 class="user_name">
            {{ user.getFirstName() }}
            {{ user.getLastName() }}
            </h2>
        </div>
        <div class="info">
            <ul>
                <li>Email: {{ user.getEmail() }}</li>
            </ul>
        </div>
    </div>
    <div class="agenda">
        <h2>Event</h2>
        <ul>
            {% for event in events %}
                    <li>
                        <p>{{ event.getName() }}</p>
                        <h3>{{ event.getTitle() }}</h3>
                        <div class="participant">
                            {{ event.getParticipants() }}/{{ event.getMaxParticipants() }}
                        </div>
                        <div class="event_info">
                            <p>{{ event.getDate()|date('d-m-Y') }}</p>
                            <p>{{ event.getStartTime()|date('H:i') }}</p>
                            <p>{{ event.getEndTime()|date('H:i') }}</p>
                        </div>
                    {% if event.registered == true %}
                        <button><a href="{{ path('userpage_event_registration', { id: event.id }) }}">REGISTERED</a></button>
                    {% else %}
                        <button><a href="{{ path('userpage_event_deregistration', { id: event.id }) }}">NOT REGISTERED</a></button>
                    {% endif %}
                    </li>

            {% endfor %}
        </ul>
    </div>
    <div class="tbd">
        <h2>Project</h2>
    </div>
    <div class="tbd">
        <h2>Courses</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
    <div class="tbd">
        <h2>TBD</h2>
    </div>
</div>
{% endblock %}