<div class="header">
    <div class="searchbar">
        <form method="get" action="{{ path('userpage', {'id': user.id}) }}">
        <input type="text" name="search" placeholder="Search users..." value="{{ app.request.get('search') }}">
        <button type="submit">Search</button>
        </form>
    </div>
</div>

{% if searchResults is defined %}
    <ul>
        {% for u in searchResults %}
            <li>
                <a href="/userpage/{{u.id}}">{{ u.firstName }} {{ u.lastName }} ({{ u.email }})</a>
            </li>
        {#{% else %}
            <li>No users found.</li>#}
        {% endfor %}
    </ul>
{% endif %}