<div class="header">
    {#<div class="search-container">
        <form method="get" action="{{ path('userpage', {'id': user.id}) }}" autocomplete="off">
            <input type="text" name="search" placeholder="Search users..." value="{{ app.request.get('search') }}">
            <button type="submit">Search</button>
            <img class="round-img" src="{{ originalUser.image }}" alt="Profile Image" style="max-width:150px;">
            <p>{{ originalUser.email }}</p>
        </form>

        {% if searchResults is defined and searchResults|length > 0 %}
            <ul class="search-results">
                {% for u in searchResults %}
                    <li>
                        <a href="{{ path('userpage', {id: u.id}) }}">
                            {{ u.firstName }} {{ u.lastName }} ({{ u.email }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>#}

    <div class="search-container" style="position: relative;">
        <input type="text" id="user-search" name="search" placeholder="Search users..." autocomplete="off">
        <ul id="search-results" class="search-results"></ul>
    </div>

   {% include 'components/script.html.twig' %}

</div>